.contactList {
  list-style-type: none;
  padding: 0px;
}

.contactLink {
  color: darkgray;

  &:hover,
  &:focus,
  &:active {
    color: #EFB764;
  }

  &:visited {
    color: gainsboro;
  }

  @media (max-width: 768px) {
    font-size: 0.8rem;
  }
}