.List {
  list-style-type: none;
  padding: 20px;
}

.ProjectList {
  color: #0066CC;
  font-weight: bold;

  &:visited {
    color: #CC33CC;
  }

  &:active, &:hover {
    color: #336666;
  }
}

.TechnologyList {
  list-style-type: none;
  padding-bottom: 20px;
}

.CodeLink {
  color: green;
  font-weight: normal;

  &:visited,
  &:active,
  &:hover {
    color: green;
  }
}